/*============================ TEMPLATE STYLE ===========================*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

@import "/style/video-aboutUs.css";

:root {
/*============================  COLORS ===========================*/
    --colorNav: #C4C4C4;
    --colorMainButton: #E8E8E8;
    --colorSecondaryButton: #C4C4C4;
    --colorSecondaryBg: #FFFFFF;
    --colorMainBg: #E8E8E8;
    --colorMainSection: #7A7A7A;
    --colorSecondarySection: #958E8E;
    --colorThirdSection: #E8E8E8;
    --colorFooter: #7A7A7A;
    --colorMainTitle: #E8E8E8;
    --colorSecondaryTitle: #7A7A7A;
    --colorMainSubtitle: #E8E8E8;
    --colorSecondarySubtitle: #7A7A7A;
    --colorMainText: #0000;
    --colorSecondaryText: #ffff;
    --colorMainIcons: #0000;/*starts*/
    --colorSecondaryIcons: #0000;
    --colorMainHover: #7A7A7A;
    --colorSecondaryHover: #7A7A7A;
    --colorMainBorder: #7A7A7A;
    --colorSecondaryBorder: #7A7A7A;
        
/*========== Font and typography ==========*/
    --font-body: 'Poppins', sans-serif;/*Poppins: 400|500|700, Dongle:titles,subtitles*/ 
    --font-title: 'Dongle', sans-serif;    

/*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

/* Font size for large devices */
    --fontBigSize: 1.5rem;/*name´s mentor, us*/
    --fontH1Size: 3.75rem; /*titles*/
    --fontH2Size: 2.8rem; /*subtitles*/
    --fontH3Size: 2rem; /*subtitles in sections*/
    --fontNormalSize: 1rem;/*normal text*/
    --fontSmallSize: 0.625rem ;/*footer*/
    --fontSmallerSize: 0.5rem;/*...*/

/*========== Margenes Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

/*===================  Margin, Padding and Border  ===============*/
    --borderRadius: 30rem;
    --marginMain-7-5: 7.5rem;
    --paddingMain: 0.625rem; /*to consider*/

/*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

* {
    margin: 0;
    padding: 0;
}