#video-abouUs {
    font-family: var(--font-body);
}

.main-container {
    background-color: var(--colorMainSection);
}

.container {
    padding: 0 15%;
}

.card-video {
    position: relative;
    overflow: hidden;
    background-color: var(--colorMainSection);
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.drop {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.drop i {
    display: block;
    cursor: pointer;
    font-size: var(--fontNormalSize);
    color: var(--colorSecondaryText);
}

/*
iframe {
    display: block;
    max-width: 500%;
    height: auto;
}
*/